<div class="eqLogic eqLogic-widget col2" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#" data-category="" data-eqLogic_id="#id#" data-version="mobile" >
   <center  style="#hideEqLogicName#"><strong>#name_display#</strong>
   	<span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span>
		<span id="iconSSH#id#" style="float: right;width:25px"></span>
		<script>
			if ('#cnx_ssh#' == 'OK') {
				$('#iconSSH#id#').append('<i title="Connexion SSH OK" class="fa fa-check tooltips" style="font-size : 1.1em;color: #00FF00;" ></i>');
			}
			if ('#cnx_ssh#' == 'KO') {
				$('#iconSSH#id#').append('<i title="Connexion SSH KO" class="fa fa-times tooltips" style="font-size : 1.1em;color: #FF0000;"></i>');
			}
		</script>        
</center>
	<div class="cmd tooltips" style="margin-left:5px;display: #Model_display#;">
			<span title="UPS Model" style="min-width:15px"></span>
			<span>Marque: #Model#</span>
	</div>
	<div class="cmd tooltips" style="margin-left:5px;display: #ups_line_display#;">
			<span title="UPS MODE (ups_line)" style="min-width:15px;"></span>
			<span>Mode: #ups_line#</span>
	</div>
	<div class="cmd tooltips" style="margin-left:5px;display: #input_volt_display#;">
			<span title="Tension d'entrée (input_volt)" style="min-width:15px;"></span>
			<span>Tension d'entrée: #input_volt# v</span>
	</div>
	
	<div class="tooltips" style="margin-left:5px;display: #input_freq_display#;">
			<span title="Fréquence d'entrée (input_freq)" style="width:15px;"></span>
			<span>Fréquence d'entrée: #input_freq# Hz</span>
	</div>
	<div class="cmd tooltips" style="margin-left:5px;display: #output_volt_display#;">
			<span title="Tension de sortie (output_volt)" style="min-width:15px;"></span>
			<span>Tension de sortie: #output_volt# v</span>
	</div>
	
	<div class="tooltips" style="margin-left:5px;display: #output_freq_display#;">
			<span title="Fréquence de sortie (output_freq)" style="width:15px;"></span>
			<span>Fréquence de sortie: #output_freq# Hz</span>
	</div>
	<div class="tooltips" style="margin-left:5px;display: #output_power_display#;">
			<span title="Puissance de sortie (output_power)" style="width:15px;"></span>
			<span>Puissance de sortie: #output_power# w</span>
	</div>
	<div class="tooltips" style="margin-left:5px;display: #batt_charge_display#;">
			<span title="Niveau de charge batterie (batt_charge)" style="width:15px;"></span>
			<span>Niveau de charge batterie: #batt_charge# %</span>
	</div>
	<div class="tooltips" style="margin-left:5px;display: #batt_volt_display#;">
			<span title="Tension de la batterie (batt_charge)" style="width:15px;"></span>
			<span>Tension de la batterie: #batt_volt# v</span>
	</div>
	<div class="tooltips" style="margin-left:5px;display: #ups_load_display#;">
			<span title="Charge Onduleur (ups_load)" style="width:15px;"></span>
			<span>Charge de l'onduleur: #ups_load# %</span>
	</div>
	<div class="tooltips" style="margin-left:5px;display: #batt_runtime_display#;">
			<span title="Temps restant sur batterie (batt_runtime)" style="width:15px;"></span>
			<span>Temps restant sur batterie: #batt_runtime# s</span>
	</div>
	<div class="tooltips"  style="margin-left:5px;display: #timer_shutdown_display#;">
			<span title="Temps restant avant arrêt (timer_shutdown)" style="width:15px;"></span>
			<span>Temps restant avant arrêt: #timer_shutdown# s</span>
	</div>
</div>